*{
    margin: 0;
    padding: 0;
}

header h2{
    font-family: 'Times New Roman', Times, serif;
    font-size: 40px;
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 5rem;
}

.element img{
    height: 6rem;
    margin: 10px;
    animation: ease-in  4s;
}


.docker {
    background-color: bisque;
    display: flex;
    flex-direction: row;
    margin-left: 30px;
    margin-right: 30px;
    border-radius: 10px;
}

