*{
    margin: 0;
    padding: 0;
}



header h2{
    font-family: Jost, sans-serif;
    font-size: 40px;
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 5rem;
}

.docker {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    background-color: bisque;
    border-radius: 10px;
    max-width: 970px;

}

.element{
    max-width: 100%;
}

.element img{
    height: 60px;
    margin: 10px;
    animation: ease-in  4s;
}

@media (max-width:950px){
    .docker {
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        background-color: bisque;
        border-radius: 10px;
        max-width: 100px;
        text-align: center;
    }
}




